$iota-utils-font-config-sacramento: true;
@font-face {
  font-family: 'Sacramento';
  src        : url('assets/fonts/sacramento/Sacramento-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style : normal;
}
