@import 'settings/core';
@import 'tools/core';
@import 'tools/breakpoint';
@import 'tools/ms';
@import 'tools/rtl';
@import 'tools/type';
@import 'base/initialize';
@import 'objects/container';
@import 'objects/grid';
@import 'objects/list';
@import 'objects/media';
@import 'objects/type';
@import 'utilities/font';
@import 'utilities/align';
@import 'utilities/bgcolor';
@import 'utilities/clearfix';
@import 'utilities/color';
@import 'utilities/display';
@import 'utilities/float';
@import 'utilities/flex';
@import 'utilities/margin';
@import 'utilities/opacity';
@import 'utilities/padding';
@import 'utilities/position';
@import 'utilities/pull';
@import 'utilities/push';
@import 'utilities/size';
@import 'utilities/text';
@import 'utilities/transform';
@import 'utilities/weight';
@import "components/components";
@import "../../node_modules/uikit/dist/css/uikit.min.css"; // @import url("https://file.myfontastic.com/4gn7MUSmK9qTPPNZErFxsf/icons.css"); // @import url("https://fonts.googleapis.com/css?family=Lato:100|Sacramento");
@import "partials/partials";

html {
  margin    : 0;
  min-height: 100%;

  body {
    min-height: 100%;

    #root {
      min-height: 100%;

      #body {
        display       : flex;
        min-height    : 100%;
        flex-direction: column;
        margin        : 0;

        #app {
          flex: 1;
        }
      }
    }
  }
}
